<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Double Happy Media is Richard Riddiford and Michael Lamb.</h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <p>

Richard has made over 30 documentaries including The Sixth Man about infamous NZ spy Paddy Costello; and Architect Of Dreams about leading NZ architect Ian Athfield. He has directed TV dramas in NZ and Australia and written and directed two feature films, as well as TV commercials. </p>
                    
                    
                </div>
                
                <h4>michael@doublehappy.media</h4>
                    <div class="col-md-6">
                        
                        
            <p>


Michael has a background as writer, with over 20 years as a copywriter and creative director with a side order of journalism. His awards include Axis, Orca (advertising) and Qantas (media). He has made short films and music videos, including writing the script for an NZ Film Commission-funded short film called The Off Season. He has experience in digital, including in 1996 co-founding the editorial fashion website Runway Reporter (sold that year to ACP Media, now part of Bauer). As a copywriter he has specialised as a creative consultant on TV commercials, working on a considerable number of projects globally, including Australia, the US, the UK, Italy, Russia, France, and around Asia. 
</p>
                        
                        <h4>richard@doublehappy.media</h4>
            </div>
            </div>
        </div>
    </section>