<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Double Happy Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle team-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                         <div class="table-container">
                            <i class="fa fa-envelope fa-email" aria-hidden="true" style="font-size:20px;padding-right:10px;padding-top: 3px;"></i>
                        <p class="team-email">{{ member.email }} </p></div>
                        
                        <p class="team-description">{{ member.description }}</p>
                       
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>